.container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

div {
    /* background-color: burlywood; */
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 100px;
    color: aliceblue;
    background-color: rgb(174, 174, 196);
}

button {
    height: 500px;
    width: 100px;
    background-color: blue;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    color: aliceblue;
    background-color: rgb(174, 174, 196);
    cursor: pointer;
}

button:active{
    scale: 0.95;
}